<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhenxiang.nyaa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.zhenxiang.nyaa.NyaaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nyaasi">
        <activity
            android:name="com.zhenxiang.nyaa.ReleaseTrackerDetailsActivity"
            android:exported="true" />
        <activity
            android:name="com.zhenxiang.nyaa.CreateTrackerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.zhenxiang.nyaa.release.NyaaReleaseActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.zhenxiang.nyaa.NyaaSearchActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search_history_config" />
        </activity>
        <activity
            android:name="com.zhenxiang.nyaa.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7304870195125780~4260262027" />

    </application>

</manifest>